body {
	font-family: "Open Sans", Sans-Serif;
	background-color: #dfe2e2;
}

.username-header {
	font-size: 2.5em;
	font-weight: 100;
	text-align: center;
	color: rgba(52, 52, 52, 1);

}

.ChangePassword-body {
	margin-top: 2em;
}

.userid-properties {
	letter-spacing: 0.05em;
	font-size: 0.35em;
	font-weight: 700;
	color: rgba(98, 98, 98, 1);
}