.IDMS-title {
	font-size: 3em;
	font-weight: 100;
	text-align: left;
	color: rgba(52, 52, 52, 1)	;
	margin-bottom: 0.3em;
}

.login-dialogue {
	margin-top: 6em;
}

.login-input-bd {
	background-color: white;
	margin-top: 0.5em;
}

.login-icon-box {
	width: 13%;
	padding: 1.39em;
	background-color: rgba(74, 188, 231, 1);
	color: white;

	i{
		color: white;
		font-size: 1.2em;
	}
}
.login-input-i{
	padding: 1.3em;
	border: none;
	font-size: 1em;
}
.login-input-i:focus{
	outline: none;
}

.login-btn {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 1.7em;
	padding-right: 1.7em;
	border-radius: 8px;
	outline: none;
	color: white;
	font-size: 0.9em;
	font-weight: 700;
	margin-top: 1.3em;
	float: right;
	background-color: #999999;
	border: none;
}

